<html>
<head>
    <title>Oracle RedBull Racing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">F1 Drivers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/drivers">Drivers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/races">Races</a>
                </li>
            </ul>
        </div>
    </nav>
            <div class="col-md-9 offset-md-3">
                <h1 class="mt-5">Oracle RedBull Racing</h1>
                <p>Welcome to Oracle RedBull Racing's official website. Here you can find information about our drivers, cars, and teams.</p>
            </div>
        </div>
    </div>

    <script>
        function toggleSidebar() {
            var sidebar = document.querySelector('.sidebar');
            var menuIcon = document.getElementById('menu-icon');
            sidebar.classList.toggle('open');
            menuIcon.classList.toggle('hidden');
        }
    </script>
</body>
</html>
